/* @keyframes proj-ani {
  0% {height: 0;}
  60% {height: 0;}
  100% {height: 180px;}
} */
.Projects {
  width: 100%;
  margin: auto;
  padding-top:30px ;
  padding-bottom: 20px; 
  background-color: rgba(38, 45, 54, 1);
}
  
.Project {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #393E46;
  /* animation-name: proj-ani;
  animation-duration: 8s;
  animation-timing-function: ease-out; */
}

.description {
  text-align: left;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;  
}

.description p {
  position: relative;
  /*war vorher -20*/
  top: -10px;
}

.Calc-pic {
  width: 20%;
  height: auto;
  background-image: url(../../../public/annie-spratt-r_m-JKJVto0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  /*display bei beiden bildern*/
}

.List-pic {
  width: 20%;
  height: auto;
  background-image: url(../../../public/marissa-grootes-ck0i9Dnjtj0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  
}

.Yelp-pic {
  width: 20%;
  height: auto;
  background-image: url(../../../public/pizza.jpg);
  background-size: cover;
  background-position: center;
}

.Tic-pic {
  width: 20%;
  height: auto;
  background-image: url(../../../public/jeremy-perkins-UgNjyPkphtU-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.ProjectDescription {
  display: flex;
  justify-content: space-between;
  background-color: #393E46;
  height: 180px;
  width: 100%;
}

.ProjectDescriptionCalc {
  display: flex;
  justify-content: space-between;
  background-color: #393E46;
  width: 100%;
}

.ProjectButton {
  position: relative;
  left: 25%;
  border: solid white 1px;
  margin: 1px;
  background: transparent;
  color: white;
  font-size: calc(3px + 2vmin);
  border-radius: 10px;
}

.ProjectButton:hover {
  cursor: pointer;
}

.ToDoList {
  display:block;
}

.Calculator {
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width:760px) {
  .Project {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}