@keyframes fadeIn {
    0%   {height: 60vmin; width: 60vmin; opacity: 0;}
    100% {width: 80vmin; height: 80vmin; opacity: 1;}
}
  

.Buttons {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  auto auto auto auto auto;
    width: 80vmin;
    height: 80vmin; 
    max-width: 300px;
    max-height: 250px;
    column-gap: 0;
    row-gap: 0;
    
}

#AC, #equals{
    grid-column-end: span 2;
    background-color: #F1E0AC;
}

#DEL {
    padding: -20px;
}

.calcButton {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #98B4AA;
    border: 0;
}
.calcButton:hover {
    background-color: #74959A;
}

#AC:hover, #equals:hover {
    background-color: #8b6e17;
}