@keyframes fadeIn {
    0%   {height: 150px; width: 200px; opacity: 0;}
    100% {height: 250px; width: 300px; opacity: 1;}
}
  

.Buttons {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:  auto auto auto auto auto;  
    width: 300px;
    height: 250px; 
    column-gap: 0;
    row-gap: 0;
    
}

#AC, #equals{
    grid-column-end: span 2;
    background-color: #F1E0AC;
}

.calcButton {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: #98B4AA;
    border: 0;
}
.calcButton:hover {
    background-color: #74959A;
}

#AC:hover, #equals:hover {
    background-color: #8b6e17;
}